/* Only needed for about page, hack around sass compile problems for now */
@-webkit-keyframes show-hide-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-hide-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes zoom-hover {
  0% {
    zoom: 100%;
  } 100% {
    zoom: 115%;
  }
}

@keyframes zoom-hover {
  0% {
    zoom: 1;
    margin-left: 0;
  }
  100% {
    zoom: 130%;
    margin-left: -3px;
  }
}

@keyframes fontresize-hover {
  0% {
    font-size: 36px;
  }
  100% {
    font-size: 55px;
  }
}

@-webkit-keyframes fontresize-hover {
  0% {
    font-size: 36px;
  }
  100% {
    font-size: 55px;
  }
}